<div class="update-text-box">
  <div>
    <p>Update text:</p>
    <div *ngIf="appDataService.isAigensUser" class="buttons">
      <button (click)="edit()">{{isEditing ? 'Cancel' : 'Edit'}}</button>
      <button (click)="save()">Save</button>
    </div>
  </div>
  <ng-container *ngIf="isEditing; else displayText">
    <textarea [(ngModel)]="updateDescription"></textarea>
  </ng-container>

  <ng-template #displayText>
    <span class="text">{{ updateDescription }}</span>
  </ng-template>
</div>
