<div *ngIf="appDataService?.itemVersions?.length" class="container">
  <h3 class="app-name">Other versions of {{appName}} App </h3>
  <div *ngFor="let item of displayedItems; let i = index" class="item">
    <div class="item-header" (click)="toggleItem(i)">
      <img [src]="item?.realIcon || 'https://www.pgyer.com/image/view/app_icons/'+item.buildIcon"class="item-icon" />

      <div class="item-info">
        <h3 class="item-name">{{ item.buildName }}</h3>
        <p class="item-version">Version: {{ item.buildVersion }} (Build:{{ item.buildBuildVersion }})   {{item.buildCreated | dateFormat}}</p>
      </div>
    </div>

    <div *ngIf="expandedItemIndex === i" class="item-details">
      <div>
        <p>Update text</p>
        <span>{{ item.buildUpdateDescription }}</span>
      </div>
      <button class="install-button" (click)="installApp(item)" [ngClass]="{'stay': item?.isDownloading}">Install
        <span class="loading" *ngIf="item?.isDownloading"></span>
      </button>
    </div>
  </div>

  <div *ngIf="shownAllButton" class="all-versions-button-container" (click)="clickAllVersions()">
    <button class="all-versions-button">All Versions</button>
  </div>

</div>
