<div *ngIf="appDataService?.itemVersions?.length" class="container">
  <div class="item-title">
    <h3 class="app-name">Other versions of {{appName}} App </h3>
    <div class="edit" (click)="editClicked($event);$event.stopPropagation();"></div>
  </div>
  <div *ngFor="let item of displayedItems; let i = index" class="item">
    <div class="item-header" (click)="toggleItem(i)">
      <input class="input-checkbox" type="checkbox" *ngIf="showCheckboxes" [(ngModel)]="item.isSelected" (click)="$event.stopPropagation();"/>
      <img [src]="item?.realIcon || 'https://www.pgyer.com/image/view/app_icons/'+item.buildIcon"class="item-icon" />

      <div class="item-info">
        <h6 class="item-name">{{ item.buildName }}</h6>
        <p class="item-version">Version: {{ item.buildVersion }} (Build:{{ item.buildVersionNo }})   {{item.buildCreated | dateFormat}}</p>
      </div>
    </div>

    <div *ngIf="expandedItemIndex === i" class="item-details">
      <app-update-text [item]="item"></app-update-text>
      <!-- <div>
        <p>Update text:</p>
        <span>{{ item.buildUpdateDescription }}</span>
      </div> -->
      <button class="install-button" (click)="installApp(item)" [ngClass]="{'stay': item?.isDownloading}">Install
        <span class="loading" *ngIf="item?.isDownloading"></span>
      </button>
    </div>
    <button class="ipa-btn" *ngIf="appDataService.canShowIosIpaDownload()" (click)="downloadIpa(item)" >
      DownloadIpa
    </button>
  </div>

  <div *ngIf="shownAllButton" class="all-versions-button-container">
    <button class="cancel-button" *ngIf="showCheckboxes" (click)="cancelSelectedVersions()">Cancel</button>
    <button class="delete-button" *ngIf="showCheckboxes" (click)="deleteSelectedVersions()">
      Delete
      <span class="loading" *ngIf="showDelLoading"></span>
    </button>
    <button class="all-versions-button" (click)="this.expendAll = !this.expendAll;clickAllVersions()">{{expendAll ? 'Show Less' : 'All Versions'}}</button>
  </div>

</div>
