<div class="container">
  <img src="assets/images/aigens.png" class="header-logo" />

  <div class="pwd-container" *ngIf="showPasswordForm">
    <h2>Password</h2>
    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required class="form-control"
          placeholder="Enter your password">
        <div *ngIf="password && password != appDataService.currentAppInfo.buildPassword" class="error-message">
          Password is incorrect.
        </div>
      </div>
      <button type="submit" class="btn btn-primary submit-button">Submit</button>
    </form>
  </div>

  <div class="content" *ngIf="!showPasswordForm">
      <p *ngIf="!appDataService.realVerions?.length" class="loading">loading</p>

      <div *ngIf="appDataService.realVerions?.length" class="app-list">
        <app-app-header-item></app-app-header-item>
        <app-app-item></app-app-item>
      </div>
  </div>

</div>
