<div class="app-header-item" [ngClass]="{'ios-header': p.IOS}">
  <div class="icon">
    <img [src]="item?.realIcon || 'https://www.pgyer.com/image/view/app_icons/'+item.buildIcon" />
  </div>
  <h3 class="name">{{item.buildName}}</h3>
  <div class="device-name-container">
    <p class="device-name">
      <img src="assets/images/ios.svg" *ngIf="appDataService.platform == 'ios'" class="platform-icon" />
      <img src="assets/images/android.svg" *ngIf="appDataService.platform == 'android'" class="platform-icon" />
      {{ appDataService.platform == 'android' ? 'For Android device' : 'For iOS device'}}
    </p>

    <div class="download-container" *ngIf="appDataService.pgyerOriginalLink" (click)="retryDownload()">
      <span>Download failed?</span>
      <span>try again</span>
    </div>
  </div>
  <div class="qrcode">
    <img [src]="qrcodeUrl">
    <img [src]="item?.realIcon || 'https://www.pgyer.com/image/view/app_icons/'+item.buildIcon" class="qr-logo" />
  </div>
  <button class="install-button" (click)="installApp()" [ngClass]="{'stay': item?.isDownloading}">Install <span
      class="loading" *ngIf="item?.isDownloading"></span></button>

  <div class="info-container">
    <p class="info-title">About {{item.buildName}} App</p>
    <div class="info-list">
      <div class="info-item">
        <span>Size</span>
        <span>{{item.buildFileSize | bytesToMB}}</span>
      </div>
      <div class="info-item">
        <span>Publish at</span>
        <span>{{item.buildCreated | dateFormat}}</span>
      </div>
      <div class="info-item">
        <span>Version</span>
        <span>{{item.buildVersion}}</span>
      </div>
      <div class="info-item">
        <span>Build</span>
        <span>{{item.buildVersionNo}}</span>
      </div>
    </div>
  </div>

  <div class="news">
    <p>Update text:</p>
    <span>{{item?.buildUpdateDescription}}</span>
  </div>

</div>
