:host {
  overflow-x: hidden;
}

.app-header-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  border-bottom: 1px #ddd solid;
  position: relative;

  &.ios-header {
    padding-top: 8rem;
  }

  .icon {
    width: 7rem;
    height: 7rem;
  }

  .icon img {
    width: 100%;
    height: auto;
  }

  .name {
    font-size: 1.6rem;
    margin: 15px 0;
    color: gray;
  }

  .device-name-container {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

    .download-container {
      position: absolute;
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      right: 0.3rem;
      top: 1.5rem;
      background-color: #f8f9fa;
      border: 1px solid #ced4da;
      border-radius: 8px;
      padding: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 200px;
      text-align: center;
    }

    .download-container span {
      font-size: 14px;
      /* Set font size */
      color: #495057;
      /* Darker text color for readability */
      margin-bottom: 5px;
      /* Space between the items */
    }

    .download-container span:last-child {
      font-weight: bold;
      /* Make the "try again" text bold */
      color: #007bff;
      /* Use a blue color for call-to-action */
      cursor: pointer;
      /* Change cursor to pointer for interactivity */
    }

    .download-container span:last-child:hover {
      text-decoration: underline;
      /* Underline on hover */
    }


    /* Center items vertically */
    .platform-icon {
      width: 20px;
      /* Set icon width */
      height: 20px;
      /* Set icon height */
      margin-right: 5px;
      /* Add margin to the right */
    }

    .device-name {
      margin-top: 0;
      font-size: 1.1rem;
      color: #666;
      margin-bottom: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .qrcode {
    margin-top: 1rem;
    position: relative;
    /* Set to relative to position child elements absolutely */
    display: inline-block;
    /* Ensures the size is based on content */
  }

  .qr-logo {
    position: absolute;
    /* Position the logo absolutely within the qrcode */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust position */
    width: 2.4rem;
    /* Set logo width */
    height: auto;
    /* Maintain aspect ratio */
    z-index: 10;
    border-radius: 3px;
  }

  .install-button {
    margin-top: 2rem;
    font-size: 1.3rem;
    padding: 0.7rem 5rem;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #16a085;
    }

    &.stay {
      padding: 0.7rem 4rem;
    }
  }

  .info-container {
    margin: 20px;
    width: 100%;
    text-align: start;
  }

  .info-title {
    font-size: 18px;
    /* Set font size for title */
    margin-bottom: 10px;
    /* Add bottom margin */
  }

  .info-list {
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Arrange items in a column */
  }

  .info-item {
    border-bottom: 1px #ddd solid;
    display: flex;
    /* Use flexbox for item layout */
    justify-content: space-between;
    /* Space between label and value */
    margin-bottom: 8px;
    /* Add spacing between items */
    padding: 5px 0;
    /* Add some padding */
  }

  .info-item span {
    font-size: 14px;
    /* Set font size */
    color: #333;
    /* Text color */
  }

  .info-item span:last-child {
    font-weight: bold;
    /* Make the value bold */
  }


  .news {
    width: 100%;
    text-align: start;
    margin: 0;
    margin-bottom: 1.5rem;

    p {
      margin-top: 0.5rem;
    }

    span {
      color: gray;
    }
  }
}
